<div class="card text-bg-warning mb-3" style="max-width: 18rem;">
  <h4 class="card-header">Demo Sign In</h4>
  <div class="card-body">
    <p>Email: 1@home.com</p>
    <hr>
    <p class="mb-0">Password: 123456</p>
  </div>
</div>
