<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-primary bg-gradient shadow", style="--bs-bg-opacity: .7; width: 100vw; left: calc(-1 * (100vw - 100%) / 2);">
  <div class="container row mx-auto justify-between">
    <div class="col-md-4">
      <%= image_tag 'AwayFromHomeTransparent.svg', class: "img-fluid" %>
    </div>
    <div class="col-md-7 py-lg my-auto mx-auto ms-1 text-light">
      <h1 class="display-4 fw-bold">Keep your home running smoothly while you are away.</h1>
      <p class="lead fw-normal">Tired of coming home from a trip to dead plants and stolen mail? Whether you are away on business, vacation, or living as a digital nomad, RoamHome makes it easy to keep your home in order.</p>
      <a class="btn btn-light btn-lg mt-3" href="#">Coming soon</a>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag "TaskList.svg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
    <div class="col-md-4">
    <div class="card">
      <!--<img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
    <div class="col-md-4">
    <div class="card">
      <!--<img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
